article{
    display: flex;    
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    margin: 30px auto;    
    /* border: 2px solid black; */
    width:400px ;
    padding: 40px;    
}

.text{
    padding: 30px; 
    text-align: left;   
}
.text h2{
    font-weight: 200;
    margin-bottom: 20px;
    font-size: 2em;
}
.text h1{
    font-weight: 700;
    margin-bottom: 20px;
}
.text p{
    font-weight: 100;
}

section{
    width: 300px;
    /* border: 1px solid black; */
    padding: 20px;
    margin-bottom: 30px;
    box-shadow:inset 0px 5px 0px 1px; 
    /* box-shadow: -2px 2px 12px 0.3px; */
}
section h1{
    margin-bottom: 20px;
}
section p{
    margin-bottom: 20px;
}
section div{
    display: flex;
    justify-content: end;
}
@media (min-width:1000px) {
    article{
        width: 100%;
        padding: 10px;
    }
    .cont-cartas{
        width: 100%;
        display: flex;
    }
    col1 > section{
        width: 250px;
    }
}