*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-image: url("../img/bg-mobile.svg");
    background-repeat: no-repeat;
    background-color: #664bb1;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.nav-landing{
    /* background-color: #674BB1; */
    width: 350px;

}
.nav-landing>img{
    width: 150px;
    padding: 20px 0 ;
    margin-left: 30px;
}

/* elemento */
.elemento{
    width: 310px;
    display: flex;
    flex-direction: column;
}
.a{
    /* width: 100%; */
}
.hero-cont{
    padding: 10px;
    display: flex;
}
.hero-cont > img{
    width: 84%;    
    margin: auto;
}

/* b */
.b{
    padding: 20px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.b-cont{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 5px;
}
.b-cont>h1{
    font-size: 25px;
    font-weight: 700;    
}
.b-cont>p{
    font-size: 13px;
    font-weight: 100;
}
button{
    background-color: white;
    /* width: 180px; */
    padding: 5px 30px;
    border: none;
    border-radius: 15px;
    font-weight: 700;
}
.redes{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

@media (min-width:700px) {
    main{
        width: 700px;
        margin-top: 70px;
        /* border: 3px solid black; */
        background-image: url("../img/bg-desktop.svg");
    }
    .nav-landing{
        width: 700px;
    }
    .elemento{
        width: 700px;
        /* border: 3px solid black; */
        flex-direction: row;
    }
    .a{
        flex: 2;
    }
    .b{
        flex: 1;
    }
}