*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: #19A1AD;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.elemento{
    width: 400px;
    display: flex;
    flex-direction: column;
}
picture> img{
    width: 300px;
    border-radius: 20px 20px 0 0;
}
.blanca{
    background-color: white;
    width: 300px;    
    position: relative;
}
.datos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
    gap: 20px;
}
.blanca > p{
    text-align: center;
    padding-bottom: 20px;
}

.blanca > img{
    position: absolute;
    left: 35%;
    top: -50px;
    border-radius: 50px;
    border: 2px solid white;
}
hr{
    padding-bottom: 20px;    
}
.num-cont{
    background-color: white;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    border-radius: 0 0 15px 15px;
}
.num-cont > div >h2{
    font-size: 20px;
}
.num-cont > div >p{
    font-size: 15px;
}
.num-cont > div{
    text-align: center;
}