*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    background-color: #F2E9E2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elemento{
    min-width: 300px;
    max-width: 300px;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.a{
    min-width: 300px;
    max-width: 300px;
}
.desktop{
    display: none;
}
.img-cont>img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.b{
    background-color: white;
    padding: 20px;
    display: flex;
}
.b-cont{
    display: flex;
    height: 320px;
    flex-direction: column;
    justify-content: space-evenly;
}
.b-title{
    letter-spacing: 6px;
    font-size: 20px;
}
.b-name{
    font-size: 33px;
}
.precios{
    display: flex;
    align-items: center;
    gap: 20px;
}
.b-description{
    font-size: 16px;
}
button{
    display: flex;
    background-color: #3D8168;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    border-radius: 2px;
}
button> img{
    width: 25px;
}
@media (min-width:750px) {
    .elemento{
        flex-direction: row;
        max-width: 600px;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    .b{
        align-items: center;
        justify-content: center;        
    }
    .b-cont{
        height: 100%;
    }
}